<div>1</div>
<div>2</div>
<div>3</div>
<div>4</div>
<div>5</div>
<h4>Import Ticket</h4>
<%= form_tag import_tickets_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import" %>
<% end %>

<br>

<h1>Current Tickets</h1>

<table>
  <thead>
  <tr>
    <th>Online Order#</th>
    <th>Order Date</th>
    <th>Customer notes</th>
    <th>Ticket Type D</th>
    <th>Participant ID</th>
    <th>Tuple date</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.online_order_id %></td>
        <td><%= ticket.date_time %></td>
        <td><%= ticket.customer_notes %></td>
        <td><%= ticket.ticket_type_id %></td>
        <td><%= ticket.participant_id %></td>
        <td><%= ticket.created_at %></td>
        <td><%= link_to 'Show', ticket %></td>
        <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
        <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>




